doctype html
html
    head
        title Seleziona le Squadre
        link(rel="stylesheet", href="/home.css") 
    body
        h1 Seleziona le Squadre per la Partita
        if errore
            p.errore #{errore}
        form(action="/controlli", method="post")
            .form-group
                label(for="squadra1") Squadra 1
                select(name="squadra1", id="squadra1")
                    each squadra in squadre
                        option(value=squadra.nome)= squadra.nome
            .form-group
                label(for="squadra2") Squadra 2
                select(name="squadra2", id="squadra2")
                    each squadra in squadre
                        option(value=squadra.nome)= squadra.nome
            .form-group
                label(for="punteggio1") Punteggio 1
                input(type="text", name="punteggio1", id="punteggio1")
            .form-group     
                label(for="punteggio2") Punteggio 2
                input(type="text", name="punteggio2", id="punteggio2")
            button(type="submit").button Invia
        
        form(action="/azzera", method="post")
            button(type="submit").button Azzera

        form(action="/classifica", method="post")
            button(type="submit").button Visualizza classifica
